http://localhost:<port>

root * <project_dir>/static
file_server

log {
	output file <log_dir>/access.log
	format single_field common_log
}

header / Cache-Control private,max-age=3600,must-revalidate
header /api Cache-Control no-store
header /socket.io Cache-Control no-store
header /getTime {
	Cache-Control no-store
	X-Server-Timestamp {time.now}
}

respond /getTime 200

reverse_proxy /socket.io/* localhost:<socket_server_port>

handle_path /api/* {
	rewrite * {path}
	reverse_proxy localhost:<socket_server_port>
}

redir /api /api/

reverse_proxy /feedback localhost:<feedback_server_port>
