http://localhost:<port> {
    root    <project_dir>/static
    log     <log_dir>/access.log
    errors  <error_dir>/errors.log

    header / Cache-Control no-cache

    header /getTime {
        Cache-Control no-store
        X-Server-Timestamp {when_unix_ms}
        X-Client-Timestamp {>X-Client-Timestamp}
    }
    status 200 /getTime

    proxy /socket.io localhost:<socket_port> {
        websocket
        transparent
    }

    proxy /api localhost:<socket_port> {
        transparent
        without /api
    }

    redir /api /api/

    gzip
}
