#join article {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: calc(100% - 20px);
    max-height: 500px;
    width: calc(100% - 20px);
    max-width: 650px;
    background-color: white;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 0 0 10px lightgrey;
}

#join header {
    flex-shrink: 0;
    padding: 30px;
    background-color: lightgreen;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#join header h1 {
    margin: 0;
    font-weight: normal;
}

#join main {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px 30px 15px 30px;
    overflow: auto;
}

#join main .game-key-input {
    position: relative;
    font-size: 1.1em;
}

#join main .game-key-input input {
    text-transform: uppercase;
}

#join main .game-key-actions {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
}

#join main .game-key-actions button {
    height: 2em;
    width: 2em;
}

#join main .game-key-status {
    margin-top: 3px;
    min-height: 2.3em;
}

#join main .room-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#join main .room-info h5 {
    margin: 0;
    font-weight: normal;
}

#join main .room-info.checking h5 {
    margin-left: 3px;
    color: dimgrey;
}

#join main .room-info.created h5 {
    margin-right: auto;
    color: forestgreen;
}

#join main .room-info.created button {
    font-size: 0.75em;
    line-height: 0.75em;
}

#join main .room-info.invalid h5 {
    color: red;
}

#join main .your-name-input {
    font-size: 1.1em;
}

#join main .your-name-status {
    margin-top: 3px;
    min-height: 2.3em;
}

#join main .name-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#join main .name-info h5 {
    margin: 0;
    font-weight: normal;
}

#join main .name-info.checking h5 {
    margin-left: 3px;
    color: dimgrey;
}

#join main .name-info.accepted h5 {
    color: forestgreen;
}

#join main .name-info.not-in-list h5 {
    color: red;
}

#join footer {
    padding: 20px;
    border-top: 1px solid #eee;
}

#join footer button {
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-height: 500px), (max-width: 650px) {
    #join article {
        max-height: initial;
        max-width: initial;
        margin: 10px;
    }

    #join header {
        padding: 20px;
        font-size: 80%;
        text-align: center;
    }

    #join footer {
        text-align: center;
    }

    #join footer button {
        width: 100%;
        max-width: 400px;
    }
}
