#navbar .nav-brand {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 250px;
    text-align: left;
}

#navbar .nav-brand img {
    margin: 15px;
    width: 50px;
}

#navbar .nav-brand-stack h3 {
    margin: 0;
    color: black;
}

#navbar .nav-brand-stack h4 {
    margin: 0;
    font-weight: normal;
}

#navbar .nav-links {
    position: relative;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}

#navbar .nav-expand {
    display: none;
    padding: 10px;
    margin: auto 10px auto auto;
    height: 50px;
    width: 50px;
    font-size: 20px;
}

#navbar .nav-collapsible {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}

#navbar .nav-links-center {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    justify-content: center;
}

#navbar .nav-links-right {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    width: 250px;
}

#navbar .nav-feedback, #navbar .nav-rules {
    margin: 0 10px;
}

#navbar .nav-link {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: none;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 100ms linear;
}

#navbar .nav-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 2px;
    width: 0;
    transform: translateX(-50%);
    transition: all 100ms linear;
}

#navbar .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.01);
}

#navbar .nav-link.active {
    color: deepskyblue;
    background-color: rgba(85, 182, 189, 0.05);
}

#navbar .nav-link.active::after {
    width: 100%;
    background-color: deepskyblue;
}

@media (max-width: 1100px) {
    #navbar .nav-brand {
        width: auto;
    }

    #navbar .nav-links-right {
        width: auto;
    }
}

@media (max-width: 1000px) {
    #navbar .nav-brand-stack h4 {
        display: none;
    }

    #navbar .nav-expand {
        display: inline-block;
    }

    #navbar .nav-collapsible {
        position: absolute;
        top: calc(100% + 5px);
        right: 0;
        width: 220px;
        flex-flow: column;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px lightgrey;
        z-index: 100;
    }

    #navbar .nav-collapsible.collapsed {
        display: none;
    }

    #navbar .nav-collapsible::before {
        content: "";
        position: absolute;
        top: 0;
        right: 35px;
        height: 15px;
        width: 15px;
        transform: translate(50%, -50%) rotate(45deg);
        background-color: inherit;
    }

    #navbar .nav-links-center {
        flex-flow: column;
        align-items: flex-start;
        padding: 10px;
    }

    #navbar .nav-links-right {
        padding: 10px;
        border-top: 1px solid whitesmoke;
    }

    #navbar .nav-link {
        padding: 10px;
        background-color: transparent !important;
    }
}
