#rules article {
    display: flex;
    flex-flow: column;
    margin: auto;
    height: calc(100% - 20px);
    max-height: 600px;
    width: calc(100% - 20px);
    max-width: 900px;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: -3px 3px 10px dimgrey;
}

#rules header {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 30px;
    background-color: rgb(253, 253, 131);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#rules header h1 {
    margin: 0;
    font-weight: normal;
}

#rules header button {
    height: 40px;
    width: 40px;
    margin-left: auto;
}

#rules main {
    flex-grow: 1;
    padding: 15px 30px 30px 30px;
    overflow: auto;
}

#rules main h2 {
    font-weight: normal;
}

#rules main p {
    text-align: justify;
}

#rules footer {
    min-height: 30px;
    border-top: 1px solid #eee;
}

@media (max-height: 600px), (max-width: 900px) {
    #rules article {
        max-height: initial;
        max-width: initial;
        margin: 10px;
    }

    #rules header {
        padding: 20px;
        font-size: 80%;
    }
}
