#about article {
    font-size: 20px;
}

#about .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

#about .title {
    margin: 20px 0 0 0;
    font-size: 220%;
    font-weight: normal;
}

#about .subtitle {
    margin: 0 0 10px 0;
    color: grey;
    font-weight: normal;
}

#about .social-icon {
    margin-right: 5px;
    font-size: 150%;
}

#about .social-icon.vk {
    color: dodgerblue;
}

#about .social-icon.facebook {
    color: royalblue;
}

#about .social-icon.github {
    color: black;
}

#about .label {
    margin: 15px 0;
}

#about .list {
    margin: 0 0 15px 0;
}

#about .list.no-style {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}
