*, *::after, *::before {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

button {
    outline: none;
    font-family: inherit;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: inherit;
    outline: none;
}

input, textarea {
    resize: none;
    outline: none;
    font-family: inherit;
}

.page {
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-color: rgb(250, 250, 250);
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.window {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px lightgrey;
}

.window header {
    flex-shrink: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.popup-window {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    box-shadow: -3px 3px 10px dimgrey;
}

.popup-window header {
    flex-shrink: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.scrollable {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.scrollable.custom-scroll::-webkit-scrollbar {
    width: 11px;
    background-color: transparent;
}

.scrollable.custom-scroll::-webkit-scrollbar-thumb {
    background-color: grey;
    border: 2px solid white;
    border-radius: 6px;
}

.scrollable-wrapper {
    position: relative;
    flex-grow: 1;
}

.topShadow header {
    box-shadow: 0 4px 10px -9px grey;
}

.bottomShadow footer {
    box-shadow: 0 -4px 10px -9px grey;
}

.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 20px;
    box-shadow: 0 0 10px lightgrey;
    z-index: 10;
}

.link {
    display: inline-block;
    padding: 0;
    border-width: 0;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 1.25em;
    font-size: inherit;
    line-height: 1.5em;
    text-decoration: none;
}

.btn-bordered {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.btn-shadow:hover:not([disabled]) {
    box-shadow: 0 2px 0.3em lightgrey;
}

.btn:disabled {
    color: lightgrey;
    background-color: whitesmoke;
}

.btn-icon {
    display: flex;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
    border-width: 0;
    border-radius: 50%;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
}

.btn-icon span {
    margin: auto;
}

.btn-nav {
    --nav-color: grey;
    --nav-bg-color: transparent;
    position: relative;
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: all 100ms linear;
}

.btn-nav::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 2px;
    width: 0;
    transform: translateX(-50%);
    transition: all 100ms linear;
    z-index: 10;
}

.btn-nav:hover {
    background-color: rgba(0, 0, 0, 0.01);
}

.btn-nav.active {
    color: var(--nav-color);
    background-color: var(--nav-bg-color);
}

.btn-nav.active::after {
    width: 100%;
    background-color: var(--nav-color);
}

.btn-blue {
    background-color: lightblue;
}

.btn-blue:hover:not([disabled]) {
    background-color: rgb(149, 208, 228);
}

.btn-blue:active:not([disabled]) {
    background-color: rgb(125, 188, 209);
}

.btn-green {
    background-color: lightgreen;
}

.btn-green:hover:not([disabled]) {
    background-color: rgb(124, 228, 124);
}

.btn-green:active:not([disabled]) {
    background-color: rgb(104, 214, 104);
}

.btn-yellow {
    background-color: rgb(252, 237, 124);
}

.btn-yellow:hover:not([disabled]) {
    background-color: rgb(245, 224, 104);
}

.btn-yellow:active:not([disabled]) {
    background-color: rgb(236, 212, 79);
}

.btn-red {
    background-color: rgb(250, 120, 120);
}

.btn-red:hover:not([disabled]) {
    background-color: rgb(241, 101, 101);
}

.btn-red:active:not([disabled]) {
    background-color: rgb(222, 87, 87);
}

.btn-white {
    background-color: white;
}

.btn-white:hover:not([disabled]) {
    background-color: #fafafa;
}

.btn-white:active:not([disabled]) {
    background-color: whitesmoke;
}

.btn-transparent {
    background-color: transparent;
}

.btn-transparent:hover:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn-transparent:active:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgrey;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0.75em 0.5em 0.5em;
    margin: 0;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: all 100ms linear;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.menu-item:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.select {
    display: inline-block;
    padding: 0.4em 1.5em 0.4em 0.6em;
    color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
    background-image: url(img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: calc(50% - 1px);
    border: none;
    border-radius: 1.25em;
    font-size: inherit;
    line-height: 1.5em;
}

.select:disabled {
    color: grey;
    background-color: whitesmoke;
}

.input {
    padding: 0.1em 0;
    min-width: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    font-size: inherit;
    line-height: 1.5em;
}

.input:focus {
    border-color: lightblue;
}

.textarea {
    flex-grow: 1;
    padding: 0.6em 0.7em;
    min-width: 0;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 1em;
    font-size: inherit;
}

.textarea:focus {
    border-color: lightblue;
}

.checkbox {
    display: flex;
    flex-direction: row;
}

.checkbox input {
    display: none;
}

.checkbox input + label {
    display: flex;
    flex-shrink: 0;
    height: 1.25em;
    width: 1.25em;
    margin: auto 5px auto 0;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 50%;
}

.checkbox input:not([disabled]) + label {
    background-color: white;
}

.checkbox input:not([disabled]) + label:hover {
    background-color: whitesmoke;
}

.checkbox input:not([disabled]) + label:active {
    background-color: #e5e5e5;
}

.checkbox input:disabled + label {
    background-color: whitesmoke;
    border-color: lightgrey;
}

.checkbox input + label span {
    visibility: hidden;
    font-size: 0.66em;
    color: white;
    margin: auto;
}

.checkbox input:checked:not([disabled]) + label {
    color: white;
    background-color: rgb(65, 193, 225);
    border-color: transparent;
    box-shadow: 0 0 10px lightgrey;
}

.checkbox input:checked:not([disabled]) + label:hover {
    background-color: rgb(70, 180, 207);
}

.checkbox input:checked:not([disabled]) + label:active {
    background-color: rgb(53, 160, 187);
}

.checkbox input:checked:disabled + label {
    background-color: lightgrey;
    border-color: transparent;
}

.checkbox input:checked + label span {
    visibility: visible;
}

.checkbox input + label + label {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.file {
    display: flex;
    flex-direction: row;
    font-size: 95%;
}

.file input {
    display: none;
}

.file input:disabled + label {
    display: none;
}

.file input + label + label {
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.file input:disabled + label + label {
    color: grey;
}
