#join {
    flex-direction: column;
    padding: 10px;
}

#join article {
    flex-grow: 1;
    margin: auto;
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 650px;
    font-size: 24px;
}

#join header {
    padding: 30px;
    background-color: lightgreen;
}

#join header h1 {
    margin: 0;
    font-weight: normal;
}

#join main {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px 30px 15px 30px;
}

#join main .game-key-input {
    position: relative;
    font-size: 1.1em;
}

#join main .game-key-input input {
    width: 100%;
    text-transform: uppercase;
}

#join main .game-key-status {
    margin-top: 3px;
    min-height: 2.3em;
}

#join main .room-info {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#join main .room-info h5 {
    margin: 0 auto 0 0;
    font-weight: normal;
}

#join main .room-info .narrow {
    margin: 0;
    font-size: 0.75em;
    line-height: 0.75em;
}

#join main .room-info.no-key .narrow {
    padding: 0.25em 0.5em;
}

#join main .room-info .players-menu {
    margin: 5px 0;
    font-size: 0.8em;
}

#join main .room-info .menu-item {
    text-align: left;
}

#join main .room-info .menu-item img {
    height: 20px;
    width: auto;
    margin-right: 5px;
}

#join main .room-info.checking h5 {
    margin-left: 3px;
    color: dimgrey;
}

#join main .room-info.not-started h5 {
    color: grey;
}

#join main .room-info.started h5 {
    color: goldenrod;
}

#join main .room-info.invalid h5 {
    color: red;
}

#join main .your-name-input {
    font-size: 1.1em;
}

#join main .your-name-input input {
    width: 100%;
}

#join main .your-name-status {
    margin-top: 3px;
    min-height: 2.3em;
}

#join main .name-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#join main .name-info h5 {
    margin: 0;
    font-weight: normal;
}

#join main .name-info.checking h5 {
    margin-left: 3px;
    color: dimgrey;
}

#join main .name-info.accepted h5 {
    color: forestgreen;
}

#join main .name-info.not-in-list h5 {
    color: red;
}

#join footer {
    padding: 20px;
    border-top: 1px solid #eee;
}

#join footer button {
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-height: 500px), (max-width: 650px) {
    #join article {
        max-height: initial;
        max-width: initial;
    }

    #join header {
        padding: 20px;
        font-size: 80%;
        text-align: center;
    }

    #join footer {
        padding: 15px;
        text-align: center;
    }

    #join footer button {
        width: 100%;
        max-width: 400px;
    }
}
