#play {
    padding: 10px;
}

#play .first-slide {
    position: relative;
    flex-basis: 33.33%;
    z-index: 1;
}

#play .second-slide {
    position: relative;
    flex-basis: 66.66%;
    z-index: 0;
}

#play article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 0 7px lightgrey;
}

#play header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#play header h1 {
    flex-grow: 1;
    margin: 0;
    font-weight: normal;
}

#play header .left, #play header .right {
    visibility: hidden;
}

#play main .scrollable {
    padding: 15px;
}

@media (max-width: 1100px) {
    #play .first-slide {
        flex-basis: 40%;
    }

    #play .second-slide {
        flex-basis: 60%;
    }
}

@media (max-width: 950px) {
    #play .first-slide {
        flex-basis: 50%;
    }

    #play .second-slide {
        flex-basis: 50%;
    }
}

@media (max-width: 800px) {
    #play {
        padding: 5px;
    }

    #play .first-slide, #play .second-slide {
        flex-basis: initial;
    }

    #play article {
        margin: 5px;
    }

    #play header {
        padding: 15px;
        font-size: 80%;
    }

    #play header .left, #play header .right {
        visibility: visible;
    }
}
