#preparationRoom header {
    background-color: lightgreen;
}

#preparationRoom main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#preparationRoom main .room-actions {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}

#preparationRoom main .room-actions button {
    margin: 0;
}

#preparationRoom main .room-actions .leave-room {
    margin-left: auto;
}

#preparationRoom main .users {
    margin: 20px;
}

#preparationRoom main .user-layer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
}

#preparationRoom main .user-layer img {
    margin-right: 10px;
    height: auto;
    width: 22px;
}

#preparationRoom main .user-layer h3 {
    margin: 0;
    font-weight: normal;
}

@media (max-width: 800px) {
    #preparationRoom main .room-actions {
        padding: 5px;
    }
}
