#preparation {
    padding: 10px;
}

#preparation article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 0 7px lightgrey;
    transition: all 80ms linear;
}

#preparation header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#preparation header h1 {
    flex-grow: 1;
    margin: 0;
    font-weight: normal;
}

#preparation header .right {
    display: none;
}

#preparation footer {
    padding: 20px;
    border-top: 1px solid #eee;
}

#preparation footer button {
    padding-left: 50px;
    padding-right: 50px;
}

#preparation footer h4 {
    margin: 0;
    color: grey;
    font-weight: normal;
}

@media (max-width: 800px) {
    #preparation {
        padding: 5px;
    }

    #preparation article {
        margin: 5px;
    }

    #preparation header {
        padding: 15px;
        font-size: 80%;
    }

    #preparation footer {
        padding: 10px;
    }

    #preparation footer button {
        width: 100%;
    }

    #preparation footer h4 {
        text-align: center;
    }

    #preparation header .right {
        display: inline-block;
    }
}
