#preparationSettings header {
    background-color: lightblue;
}

#preparationSettings main .scrollable {
    padding: 10px;
}

#preparationSettings main .layer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
}

#preparationSettings main .layer-detached {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 10px;
}

#preparationSettings main .layer .w-70 {
    width: 70px;
    min-width: 70px;
}

#preparationSettings main .layer .w-80 {
    width: 80px;
    min-width: 80px;
}

#preparationSettings main .layer .w-250 {
    width: 250px;
    min-width: 250px;
}

#preparationSettings main .layer .w-300 {
    width: 300px;
    min-width: 300px;
}

#preparationSettings main .layer .label {
    margin: 10px auto 10px 10px;
    font-weight: normal;
}

#preparationSettings main .layer .field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#preparationSettings main .layer .select {
    margin: 0;
    width: 100%;
}

#preparationSettings main .layer .input {
    flex-grow: 1;
    margin: 0 10px;
    text-align: center;
}

@media (max-width: 650px) {
    #preparationSettings main .layer .w-70-mobile {
        width: 70px;
        min-width: 70px;
    }

    #preparationSettings main .layer .label, #preparationSettings main .layer .field {
        flex-grow: 1;
    }
}

@media (min-width: 1000px) {
    #preparationSettings main .layer .w-350-desktop {
        width: 350px;
        min-width: 350px;
    }
}
