#preparation {
    flex-direction: row;
    padding: 10px;
}

#preparation article {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 1;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 0 7px lightgrey;
    transition: all 80ms linear;
}

#preparation header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#preparation .left header {
    background-color: lightgreen;
}

#preparation .right header {
    background-color: lightblue;
}

#preparation header h1 {
    margin: 0;
    font-weight: normal;
}

#preparation header .expand {
    display: none;
    margin-left: auto;
}

#preparation .left main {
    position: relative;
    flex-grow: 1;
}

#preparation .left main .room-actions {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}

#preparation .left main .room-actions button {
    margin: 0;
}

#preparation .left main .room-actions .leave-room {
    margin-left: auto;
}

#preparation .right main {
    position: relative;
    flex-grow: 1;
}

#preparation .right main .scrollable {
    padding: 10px;
}

#preparation .right main .layer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
}

#preparation .right main .layer-detached {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px 10px;
}

#preparation .right main .layer .w-70 {
    width: 70px;
    min-width: 70px;
}

#preparation .right main .layer .w-100 {
    width: 100px;
    min-width: 100px;
}

#preparation .right main .layer .w-300 {
    width: 300px;
    min-width: 300px;
}

#preparation .right main .layer .label {
    margin: 10px auto 10px 10px;
    font-weight: normal;
}

#preparation .right main .layer .field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#preparation .right main .layer .select {
    margin: 0;
    width: 100%;
}

#preparation .right main .layer .input {
    flex-grow: 1;
    margin: 0 5px;
    text-align: center;
}

#preparation footer {
    padding: 20px;
    border-top: 1px solid #eee;
}

#preparation footer button {
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 800px) {
    #preparation {
        flex-direction: column;
        padding: 5px;
    }

    #preparation article {
        margin: 5px;
    }

    #preparation footer button {
        width: 100%;
    }

    #preparation .collapsed {
        flex: 0;
    }

    #preparation .collapsed header .expand {
        display: inline-block;
    }

    #preparation .collapsed main, #preparation .collapsed footer {
        display: none;
    }

    #preparation .collapsed header {
        border-radius: 20px;
    }
}
