#room header {
    background-color: lightgreen;
}

#room main {
    position: relative;
    flex-grow: 1;
}

#room main .room-actions {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}

#room main .room-actions button {
    margin: 0;
}

#room main .room-actions .leave-room {
    margin-left: auto;
}

#room main .users {
    margin: 20px;
}

#room main .user-layer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 7px 0;
}

#room main .user-layer picture {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#room main .user-layer img {
    height: auto;
    width: 22px;
}

#room main .user-layer picture div {
    position: absolute;
    bottom: 0;
    left: 100%;
    transform: translate(-1px, 50%);
    color: limegreen;
    font-size: 12px;
    font-weight: bold;
}

#room main .user-layer h3 {
    margin: 0;
    font-weight: normal;
}

@media (max-width: 800px) {
    #room main .room-actions {
        padding: 5px;
    }
}
