#room header {
    background-color: lightgreen;
}

#room main {
    position: relative;
    flex-grow: 1;
}

#room main .room-actions {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}

#room main .room-actions button {
    margin: 0;
}

#room main .room-actions .leave-room {
    margin-left: auto;
}

#room main .users {
    padding: 15px;
}

#room main .user-layer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

#room main .user-layer picture {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

#room main .user-layer img {
    height: auto;
    width: 20px;
}

#room main .user-layer h4 {
    margin: 0;
    font-weight: normal;
}

@media (max-width: 800px) {
    #room main .room-actions {
        padding: 5px;
    }
}
