#wordCollection {
    flex-direction: column;
    padding: 10px;
}

#wordCollection article {
    flex-grow: 1;
    margin: auto;
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 750px;
    font-size: 20px;
}

#wordCollection header {
    padding: 20px;
    background-color: lightgreen;
}

#wordCollection header h1 {
    margin: 0;
    font-weight: normal;
}

#wordCollection main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

#wordCollection main > label {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#wordCollection footer {
    padding: 20px;
    border-top: 1px solid whitesmoke;
}

#wordCollection footer button {
    padding-left: 50px;
    padding-right: 50px;
}

#wordCollection footer h4 {
    margin: 0;
    color: grey;
    font-weight: normal;
}

@media (max-height: 500px), (max-width: 750px) {
    #wordCollection article {
        max-height: initial;
        max-width: initial;
    }

    #wordCollection header {
        padding: 15px;
        font-size: 80%;
        text-align: center;
    }

    #wordCollection main {
        padding: 15px;
    }

    #wordCollection footer {
        padding: 15px;
        text-align: center;
    }

    #wordCollection footer button {
        width: 100%;
        max-width: 400px;
    }
}
