#feedback article {
    display: flex;
    flex-flow: column;
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    font-size: 20px;
}

#feedback header {
    margin: 0 10px;
}

#feedback header h1 {
    font-weight: normal;
}

#feedback main {
    display: flex;
    flex-flow: column;
}

#feedback main textarea {
    flex-grow: 1;
    min-height: 300px;
}

#feedback main .checkbox {
    margin-top: 10px;
}

#feedback main button {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 25px;
    margin-right: auto;
    font-size: 22px;
}

@media (max-width: 600px) {
    #feedback main {
        flex-grow: 1;
    }

    #feedback main button {
        margin-right: initial;
    }
}
