*, *::after, *::before {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    flex: 1;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

button, input, textarea, select {
    resize: none;
    font-family: inherit;
    outline: 0;
}

input[type=file] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    display: flex;
    flex-shrink: 0;
    height: 25px;
    width: 25px;
    margin: auto 5px auto 0;
    background-color: white;
    border: 1px solid grey;
    border-radius: 50%;
}

input[type=checkbox]:checked + label {
    color: white;
    background-color: rgb(65, 193, 225);
    border-color: transparent;
    box-shadow: 0 0 5px grey;
}

input[type=checkbox] + label:hover {
    background-color: lightgrey;
}

input[type=checkbox]:checked + label:hover {
    background-color: rgb(42, 149, 175);
}

input[type=checkbox] + label div {
    display: none;
    height: 17px;
    width: 15px;
    fill: white;
    stroke: white;
    margin: auto;
}

input[type=checkbox]:checked + label div {
    display: block;
}

input[type=checkbox] + label + label {
    font-size: 20px;
    line-height: 25px;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    background-image: url(/svg/arrow_down.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 3px);
    background-position-y: calc(50% - 1px);
    outline: none;
}

svg {
    height: inherit;
    width: inherit;
}

/* Common classes */

.page {
    display: flex;
    height: 100%;
    background-color: whitesmoke;
}

.content-small {
    display: flex;
    flex-flow: column;
    margin: 100px auto 30px auto;
    width: 100%;
    max-width: 500px;
}

.content-medium {
    display: flex;
    flex-flow: column;
    margin: 100px auto 30px auto;
    width: 100%;
    max-width: 700px;
}

.content-large {
    display: flex;
    flex-flow: column;
    margin: 100px auto 30px auto;
    width: 100%;
    max-width: 1000px;
}

.small-button {
    padding: 10px 15px 10px 15px;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    font-size: 15px;
}

.medium-button {
    padding: 15px 20px 15px 20px;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    font-size: 20px;
    line-height: 20px;
}

.small-button:hover:not([disabled]), .medium-button:hover:not([disabled]) {
    background-color: rgb(44, 98, 185);
    color: whitesmoke;
    box-shadow: 1px 1px 5px grey;
}

.small-button:active:not([disabled]), .medium-button:active:not([disabled]) {
    background-color: rgb(36, 52, 77);
}

.small-button:disabled, .medium-button:disabled {
    background-color: rgb(230, 230, 230);
    color: grey;
}

.small-white-button {
    padding: 10px 15px 10px 15px;
    color: rgba(0, 0, 0, 0.85);
    background-color: white;
    border: 1px solid grey;
    border-radius: 22px;
    font-size: 15px;
}

.small-white-button:hover:not([disabled]) {
    background-color: rgb(233, 233, 233);
    box-shadow: 0 0 1px grey;
}

.small-white-button:active:not([disabled]) {
    background-color: lightgrey;
}

.small-white-button:disabled {
    background-color: lightgrey;
}

.flat-button {
    padding: 0;
    --color: dimgrey;
    color: var(--color);
    fill: var(--color);
    stroke: var(--color);
    background-color: inherit;
    border: none;
    font-size: inherit;
}

.flat-button:hover:not([disabled]) {
    --color: rgb(33, 164, 216);
    color: var(--color);
    fill: var(--color);
    stroke: var(--color);
    cursor: pointer;
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    font-size: unset;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.medium-input {
    height: 52px;
    padding: 15px 20px 15px 20px;
    border: 1px solid grey;
    border-radius: 25px;
    font-size: 18px;
}

.large-underlined-input {
    height: 55px;
    padding: 7px 0 7px 0;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: grey;
    font-size: 38px;
}

.small-underlined-input {
    height: 30px;
    padding: 4px 0 4px 0;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: grey;
    font-size: 25px;
}

.default-textarea {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 15px;
    font-size: 18px;
    line-height: 20px;
}

.medium-select {
    height: 40px;
    padding: 0 30px 0 10px;
    border: 1px solid grey;
    border-radius: 20px;
    font-size: 18px;
}

.medium-input:focus, .large-underlined-input:focus,
.small-underlined-input:focus, .default-textarea:focus,
.medium-select:focus {
    border-color: skyblue;
}

.large-underlined-input:focus::placeholder {
    color: transparent;
}

.hint {
    margin: 5px 20px 15px 20px;
}

.close {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin-left: auto;
    font-size: 19px;
    line-height: 19px;
}

.close:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.close:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.white-bubble {
    --color: rgb(120, 120, 120);
    color: var(--color);
    fill: var(--color);
    stroke: var(--color);
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(160, 160, 160);
    box-shadow: 0 0 3px grey;
}

.white-bubble:hover:not([disabled]) {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 5px grey;
}

.white-bubble:active:not([disabled]) {
    background-color: rgb(225, 225, 225);
}

.white-bubble:disabled {
    --color: lightgrey;
    color: var(--color);
    fill: var(--color);
    stroke: var(--color);
    border: 1px solid var(--color);
    box-shadow: none;
}

.go-back {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 60px;
    width: 60px;
}

.go-back span {
    height: 17px;
    width: 17px;
    margin: auto;
}

.view-help {
    position: absolute;
    top: -75px;
    left: calc(50% - 75px);
    height: 150px;
    width: 150px;
    font-size: 20px;
    padding-top: 50px;
    background-image: url(\hat2.png);
    background-size: 40%;
    background-position: center 85px;
    background-repeat: no-repeat;
}

.feedback {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
}

.feedback span {
    height: 20px;
    width: 20px;
    margin: auto;
}

.faq-question {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.faq-answer {
    margin-top: 10px;
    margin-bottom: 30px;
}

.bg-blue {
    background-color: lightblue;
}

.bg-green {
    background-color: lightgreen;
}

.bg-red {
    background-color: lightcoral;
}

.bg-white {
    background-color: white;
}

.timer-green {
    background-color: forestgreen;
}

.timer-yellow {
    background-color: goldenrod;
}

.timer-red {
    background-color: red;
}

.timer-aftermath {
    color: red;
}

.large-word {
    font-size: 40px;
}

.medium-word {
    font-size: 30px;
}

.small-word {
    font-size: 25px;
}

/* Main page */

#mainPage_actions {
    height: 100%;
    width: 100%;
    max-height: 800px;
    max-width: 400px;
    padding: 30px;
    margin: auto;
}

#mainPage_createRoom, #mainPage_joinRoom {
    position: relative;
    height: calc(50% + 0.5px);
    width: 100%;
    border: 1px solid grey;
    padding: 30px;
    font-size: 50px;
    font-weight: lighter;
}

#mainPage_createRoom {
    background-color: rgb(149, 235, 115);
    color: rgba(0, 0, 0, 0.767);
    border-radius: 50% 50% 0 0;
}

#mainPage_joinRoom {
    background-color: rgb(134, 181, 202);
    color: rgba(0, 0, 0, 0.767);
    border-radius: 0 0 50% 50%;
    margin: -1px 0 0 0;
}

#mainPage_createRoom:hover {
    background-color: rgb(162, 236, 87);
    box-shadow: 0 0 10px seagreen;
    z-index: 10;
}

#mainPage_joinRoom:hover {
    background-color: rgb(116, 181, 224);
    box-shadow: 0 0 10px royalblue;
    z-index: 10;
}

#mainPage_viewHelp {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid grey;
    box-shadow: 0 0 3px grey;
    z-index: 20;
    background-color: rgb(240, 234, 154);
    background-image: url(\hat2.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#mainPage_viewHelp:hover {
    background-color: rgb(223, 216, 128);
}

#mainPage_languages {
    position: absolute;
    top: 5px;
    right: 5px;
}

#mainPage_ru, #mainPage_en {
    margin: 5px;
}

#mainPage_languages img {
    height: 30px;
    width: 40px;
    border: 1px solid lightgrey;
}

@media (min-width: 1000px) {
    #mainPage_actions {
        max-height: 500px;
        max-width: 1000px;
    }
    #mainPage_createRoom, #mainPage_joinRoom {
        height: 100%;
        width: calc(50% + 0.5px);
    }
    #mainPage_createRoom {
        border-radius: 50% 0 0 50%;
    }
    #mainPage_joinRoom {
        border-radius: 0 50% 50% 0;
        margin: 0 0 0 -1px;
    }
}

/* Join page */

#joinPage_header {
    width: 100%;
    text-align: center;
    padding: 50px 30px 50px 30px;
}

#joinPage_pasteKey {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#joinPage_generateKey {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

#joinPage_body {
    padding: 0 30px 30px 30px;
}

#joinPage_inputKey {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

#joinPage_inputName {
    width: 100%;
}

#joinPage_go {
    width: 100%;
    margin-top: 10px;
}

#joinPage_goHint {
    color: red;
}

/* Preparation page */

#preparationPage_header {
    width: 100%;
    text-align: center;
    padding: 0 30px 30px 30px;
}

#preparationPage_titleSettings {
    margin-bottom: 10px;
}

#preparationPage_title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

#preparationPage_openSettings {
    font-size: 30px;
    margin-left: 10px;
}

#preparationPage_copyKey {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#preparationPage_copyLink {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

#preparationPage_body {
    padding: 0 30px 30px 30px;
}

#preparationPage_usersTable {
    margin-bottom: 30px;
}

#preparationPage_usersTable .spacer {
    height: 1px;
    background-image: linear-gradient(90deg, transparent, #ddd, transparent);
}

#preparationPage_users .user-item {
    padding: 8px;
    font-size: 18px;
    text-align: center;
}

#preparationPage_users .host::before {
    content: '';
    float: left;
    height: 20px;
    width: 20px;
    margin-right: -20px;
    background-image: url(\hat2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#preparationPage_users .you::after {
    content: ' (Ты)';
    font-weight: bold;
}

#preparationPage_users div:nth-child(even) {
    background-image: linear-gradient(90deg, transparent, #ddd, transparent);
}

#preparationPage_start {
    width: 100%;
}

#preparationPage_startHint {
    text-align: center;
}

#preparationPage_startLabel {
    width: 100%;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

/* Game settings page */

#gameSettingsPage_header {
    width: 100%;
    text-align: center;
    padding: 0 30px 30px 30px;
}

#gameSettingsPage_title {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: lighter;
}

#gameSettingsPage_body {
    padding: 0 30px 30px 30px;
}

#gameSettingsPage_layers {
    margin: 0 7px 40px 7px;
}

#gameSettingsPage_layers .layer {
    position: relative;
    display: flex;
    flex-flow: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

#gameSettingsPage_layers .label {
    position: relative;
    display: flex;
    flex-flow: row;
    padding-right: 10px;
    margin: auto auto auto 0;
    font-size: 20px;
}

#gameSettingsPage_layers .info {
    --color: grey;
    fill: var(--color);
    stroke: var(--color);
    position: relative;
    display: flex;
    cursor: pointer;
}

#gameSettingsPage_layers .info div {
    margin: auto 5px;
    height: 20px;
    width: 20px;
}

#gameSettingsPage_layers .info.active {
    --color: rgb(33, 164, 216);
    fill: var(--color);
    stroke: var(--color);
}

#gameSettingsPage_layers .info.active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-bottom-color: white;
    z-index: 2;
}

#gameSettingsPage_layers .info + .popup-hint {
    display: none;
}

#gameSettingsPage_layers .info.active + .popup-hint {
    display: block;
    position: absolute;
    width: 460px;
    max-width: calc(100vw - 45px);
    padding: 10px 15px 10px 15px;
    top: calc(50% + 16px);
    margin-left: -15px;
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 2px 2px 10px grey;
    user-select: none;
    z-index: 1;
}

#gameSettingsPage_layers .input {
    max-width: 60px;
    margin-top: auto;
    text-align: center;
}

#gameSettingsPage_termCondition, #gameSettingsPage_dictionarySelection {
    flex-wrap: wrap !important;
}

#gameSettingsPage_termConditionLabel, #gameSettingsPage_dictionarySelectionLabel {
    padding: 5px 0 5px 0;
}

#gameSettingsPage_termConditionList, #gameSettingsPage_dictionaryList {
    min-width: 300px;
}

#gameSettingsPage_loadDictionary {
    margin-bottom: 20px !important;
}

#gameSettingsPage_loadFileButton {
    flex-shrink: 0;
}

#gameSettingsPage_loadFileLabel {
    flex-grow: 1;
    margin: auto 10px;
    width: 100px;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#gameSettingsPage_loadFileInfo {
    margin: auto 0;
    font-size: 20px;
}

#gameSettingsPage_strictMode {
    margin-top: 30px !important;
}

#gameSettingsPage_actions {
	display: flex;
	flex-flow: row;
}

#gameSettingsPage_applyButton {
	flex-basis: 50%;
	margin-right: 20px;
}

#gameSettingsPage_revertButton {
	flex-basis: 50%;
}

/* Game page */

#gamePage_hatSvg {
    position: absolute;
    top: 20px;
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
}

#gamePage_gameActions {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#gamePage_gameActions .action {
    display: flex;
    height: 50px;
    width: 50px;
    margin: 10px;
    flex-shrink: 0;
}

#gamePage_gameActions .action span {
    margin: auto;
    height: 25px;
    width: 25px;
}

#gamePage_header {
    width: 100%;
    text-align: center;
    padding: 0 30px 0 30px;
}

#gamePage_status {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: lighter;
}

#gamePage_status.shadow {
    position: relative;
    box-shadow: 0 5px 5px -5px grey;
    z-index: 3;
}

#gamePage_additionalStatus {
    margin-top: -5px;
    margin-bottom: 0;
    color: grey;
    font-size: 18px;
    font-weight: lighter;
}

#gamePage_body {
    flex-grow: 1;
    width: 100%;
    padding: 0 30px 0 30px;
}

#gamePage_speakerListener {
    display: flex;
    flex-flow: column;
    height: calc(100% - 52px);
}

#gamePage_speakerBox {
    padding: 10px 10px 20px 10px;
    margin-top: auto;
    text-align: left;
}

#gamePage_speakerLabel {
    font-size: 20px;
    margin-bottom: 0;
}

#gamePage_speakerIcon {
    height: 18px;
    fill: black;
    stroke: black;
}

#gamePage_speaker {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(15, 170, 74);
}

#gamePage_speakerHint {
    font-size: 17px;
    margin: -3px 0 0 0;
}

#gamePage_listenerBox {
    padding: 20px 10px 10px 10px;
    margin-bottom: auto;
    text-align: right;
}

#gamePage_listenerHint {
    font-size: 17px;
    margin: 0 0 -3px 0;
}

#gamePage_listenerLabel {
    font-size: 20px;
    margin-top: 0;
}

#gamePage_listenerIcon {
    height: 18px;
    fill: black;
    stroke: black;
}

#gamePage_listener {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(0, 140, 255);
}

#gamePage_speakerReadyBox, #gamePage_listenerReadyBox, #gamePage_observerBox {
    height: 52px;
    display: flex;
    flex-flow: column;
}

#gamePage_speakerReadyButton, #gamePage_listenerReadyButton {
    width: 100%;
    margin-top: auto;
}

#gamePage_observerTimer {
    font-size: 30px;
    font-weight: lighter;
    margin: auto auto 0 auto;
    user-select: none;
}

#gamePage_explanationDelayBox {
    top: 0;
    height: 100%;
    display: flex;
}

#gamePage_explanationBox {
    top: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#gamePage_explanationDelayTimer {
    text-align: center;
    font-size: 130px;
    font-weight: lighter;
    margin: auto;
    border-radius: 50%;
    height: 177px;
    width: 177px;
    color: whitesmoke;
    user-select: none;
}

#gamePage_explanationWordTimer {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#gamePage_explanationWordParent {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    margin-top: auto;
    margin-bottom: 0;
}

#gamePage_explanationTimer {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    margin-top: -10px;
    margin-bottom: auto;
    user-select: none;
}

#gamePage_explanationSuccess {
    height: 75px;
    width: 100%;
    margin-top: 20px;
    font-size: 30px;
    border-radius: 38px;
}

#gamePage_explanationFailed {
    width: calc(50% + 0.5px);
    border-radius: 26px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: -1px;
}

#gamePage_explanationMistake {
    width: calc(50% + 0.5px);
    border-radius: 26px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -1px;
    margin-left: -1px;
}

#gamePage_editBox {
    top: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#gamePage_editList {
    position: relative;
    flex-grow: 1;
}

#gamePage_editListScrollable {
    position: absolute;
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 15px 0px 15px;
}

#gamePage_editList .word {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
}

#gamePage_editList .explained {
    position: relative;
    width: 33.33%;
    padding-left: 5px;
    padding-right: 5px;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#gamePage_editList .explained.selected {
    background-color: lightgreen;
    z-index: 1;
}

#gamePage_editList .explained:hover {
    z-index: 2;
}

#gamePage_editList .not-explained {
    position: relative;
    width: 33.33%;
    padding-left: 5px;
    padding-right: 5px;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 0;
    margin-left: -1px;
}

#gamePage_editList .not-explained.selected {
    background-color: lightblue;
    z-index: 1;
}

#gamePage_editList .not-explained:hover {
    z-index: 2;
}

#gamePage_editList .mistake {
    position: relative;
    width: 33.33%;
    padding-left: 5px;
    padding-right: 5px;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

#gamePage_editList .mistake.selected {
    background-color: lightcoral;
    z-index: 1;
}

#gamePage_editList .mistake:hover {
    z-index: 2;
}

#gamePage_editConfirm {
    width: 100%;
    z-index: 1;
}

#gamePage_editConfirm.shadow {
    box-shadow: 0 -10px 10px -10px grey;
}

@media (min-width: 500px) and (min-height: 800px) {
    #gamePage_speakerListener {
        height: 250px;
    }
    #gamePage_explanationDelayBox {
        height: 300px;
    }
    #gamePage_explanationWordTimer {
        flex-grow: 0;
        height: 300px;
    }
    #gamePage_explanationActions {
        padding: 0 30px 0 30px;
    }
    #gamePage_editList {
        flex-grow: 0;
    }
    #gamePage_editListScrollable {
        position: relative;
        max-height: 375px;
    }
}

/* Results page */

#resultsPage_header {
    width: 100%;
    text-align: center;
    padding: 0 30px 20px 30px;
}

#resultsPage_title {
    font-weight: lighter;
}

#resultsPage_body {
    width: 100%;
    padding: 0 30px 0 30px;
}

#resultsPage_table {
    width: 100%;
    border-collapse: collapse;
}

#resultsPage_table td, #resultsPage_table th {
    text-align: center;
    padding: 7px 5px 7px 5px;
}

#resultsPage_table .sum {
    font-weight: bold;
}

#resultsPage_newGame {
    width: 100%;
    margin-top: 15px;
}

#resultsPage_feedback {
    width: 100%;
    margin-top: 30px;
}

/* Help page */

#helpPage_header {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

#helpPage_navigation {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 100px 0 100px;
    margin-top: -100px;
}

#helpPage_navigation .option {
    padding-bottom: 5px;
    margin: 10px;
    font-size: 22px;
}

#helpPage_navigation .option.active {
    color: rgb(33, 164, 216);
    border-bottom: 2px solid rgb(33, 164, 216);
}

#helpPage_body {
    padding: 0 30px 30px 30px;
}

#helpPage_newsTitle {
    font-size: 40px;
    font-weight: lighter;
}

#helpPage_newsBox .title {
    margin-bottom: 2px;
}

#helpPage_newsBox .date {
    color: grey;
    margin-right: 10px;
}

#helpPage_newsBox .version {
    color: grey;
    margin-right: 10px;
}

#helpPage_newsBox .new {
    color: green;
    font-weight: bold;
}

#helpPage_rulesTitle {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: lighter;
}

#helpPage_rulesBox .justify {
    text-align: justify;
}

#helpPage_faqTitle {
    font-size: 40px;
    font-weight: lighter;
}

#helpPage_aboutTitle {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: lighter;
}

#helpPage_aboutVersion {
    color: grey;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: lighter;
}

/* Feedback page */

#feedbackPage_header {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding: 0 30px 0 30px;
}

#feedbackPage_title {
    padding: 7px;
    margin: 0 auto 0 0;
    font-weight: lighter;
}

#feedbackPage_version {
    color: grey;
    padding: 7px;
    margin: auto 0 5px 0;
    font-weight: lighter;
}

#feedbackPage_body {
    width: 100%;
    padding: 0 30px 30px 30px;
}

#feedbackPage_textarea {
    width: 100%;
    height: 270px;
}

#feedbackPage_clientInfo {
    display: flex;
}

#feedbackPage_submit {
    margin-top: 20px;
}

/* Failure message */

#failure {
    display: flex;
    position: absolute;
    width: calc(100% - 60px);
    max-width: 440px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    background-color: coral;
    border-radius: 25px;
    padding: 15px 20px 15px 20px;
    box-shadow: 2px 2px 7px grey;
}

#failureMsg {
    font-size: 18px;
    font-weight: lighter;
    line-height: 20px;
}

#stagingMark {
    position: fixed;
    bottom: -10px;
    text-align: center;
    width: 100%;
    color: black;
    font-size: 50px;
    opacity: .2;
    pointer-events: none;
    z-index: 100;
    user-select: none;
}

/* #gameSettingsPage_loadFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
} */
